## Tarea Curso preparación para Maestría en Sistemas de Información - EPN
### Cristian Benalcázar
#### 4-10-2020

## Análisis de Defunciones Generales 2020

### Descripción
Constituye todas las defunciones inscritas ocurridas en el país durante el año 2020, por todas las causas de muertes registradas, la información proviene del "Informe Estadístico de Defunción" y de los registros que provienen del sistema REVIT - DEFUNCIONES.

**Fuente:** Dirección General de Registro Civil, Identificación y Cedulación
**Unidad Generadora:**	Dirección de Soporte e Interoperabilidad de Registro 

[![Registro Civil](https://www.registrocivil.gob.ec/wp-content/uploads/2020/04/WhatsApp%20Image%202020-04-20%20at%2022.28.57%281%29.jpeg)](https://www.registrocivil.gob.ec/cifras)

**NOTA:** Se añade información de enero a septiembre de 2018 y 2019 a fin de generar una comparativa.

In [47]:
import pandas as pd

# Carga
path="https://raw.githubusercontent.com/Crisben/temp/master/Curso_python_EPN/Defunciones_Generales_2020_act_27_sept.csv"
defunciones = pd.read_csv(path,sep=';')
defunciones.head()

,PROVINCIA DEFUNCION,CANTON DEFUNCION,PARROQUIA DEFUNCION,1/1/2020,1/2/2020,1/3/2020,1/4/2020,1/5/2020,1/6/2020,1/7/2020,1/8/2020,1/9/2020
0,GALAPAGOS,ISABELA,PUERTO VILLAMIL,NaN,NaN,NaN,1.0,NaN,2.0,NaN,NaN,NaN
1,GALAPAGOS,ISABELA,TOMAS DE BERLANGA,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
2,GALAPAGOS,SAN CRISTOBAL,PUERTO BAQUERIZO MORENO,4.0,3.0,NaN,NaN,NaN,2.0,2.0,3.0,3.0
3,GALAPAGOS,SANTA CRUZ,BELLA VISTA,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN
4,GALAPAGOS,SANTA CRUZ,PUERTO AYORA,1.0,1.0,3.0,1.0,1.0,2.0,NaN,2.0,1.0

,PROVINCIA,1/1/2018,1/2/2018,1/3/2018,1/4/2018,1/5/2018,1/6/2018,1/7/2018,1/8/2018,1/9/2018,...,1/9/2019,1/1/2020,1/2/2020,1/3/2020,1/4/2020,1/5/2020,1/6/2020,1/7/2020,1/8/2020,1/9/2020
0,AZUAY,362.0,318.0,346.0,341.0,325.0,319.0,336.0,366.0,347.0,...,334.0,362.0,319.0,348.0,351.0,367.0,377.0,483.0,627.0,422.0
1,BOLIVAR,92.0,75.0,73.0,74.0,64.0,82.0,70.0,60.0,63.0,...,74.0,63.0,85.0,64.0,117.0,99.0,101.0,117.0,112.0,65.0
2,CAÑAR,92.0,80.0,87.0,75.0,76.0,82.0,93.0,96.0,108.0,...,81.0,108.0,76.0,97.0,168.0,98.0,96.0,152.0,172.0,105.0
3,CARCHI,54.0,64.0,57.0,48.0,58.0,57.0,47.0,70.0,61.0,...,65.0,57.0,57.0,58.0,54.0,69.0,72.0,109.0,136.0,98.0
4,CHIMBORAZO,223.0,213.0,185.0,203.0,178.0,167.0,221.0,180.0,219.0,...,220.0,216.0,187.0,223.0,352.0,288.0,311.0,442.0,356.0,203.0

In [45]:
# Carga histórico
path="https://raw.githubusercontent.com/Crisben/temp/master/Curso_python_EPN/Defunciones_Generales_2018_2020_res.csv"
defunciones_historico = pd.read_csv(path,sep=';')
defunciones_historico.head()

,PROVINCIA,1/1/2018,1/2/2018,1/3/2018,1/4/2018,1/5/2018,1/6/2018,1/7/2018,1/8/2018,1/9/2018,...,1/9/2019,1/1/2020,1/2/2020,1/3/2020,1/4/2020,1/5/2020,1/6/2020,1/7/2020,1/8/2020,1/9/2020
0,AZUAY,362.0,318.0,346.0,341.0,325.0,319.0,336.0,366.0,347.0,...,334.0,362.0,319.0,348.0,351.0,367.0,377.0,483.0,627.0,422.0
1,BOLIVAR,92.0,75.0,73.0,74.0,64.0,82.0,70.0,60.0,63.0,...,74.0,63.0,85.0,64.0,117.0,99.0,101.0,117.0,112.0,65.0
2,CAÑAR,92.0,80.0,87.0,75.0,76.0,82.0,93.0,96.0,108.0,...,81.0,108.0,76.0,97.0,168.0,98.0,96.0,152.0,172.0,105.0
3,CARCHI,54.0,64.0,57.0,48.0,58.0,57.0,47.0,70.0,61.0,...,65.0,57.0,57.0,58.0,54.0,69.0,72.0,109.0,136.0,98.0
4,CHIMBORAZO,223.0,213.0,185.0,203.0,178.0,167.0,221.0,180.0,219.0,...,220.0,216.0,187.0,223.0,352.0,288.0,311.0,442.0,356.0,203.0